<a href="https://colab.research.google.com/github/nhanphm/ML_Advance/blob/master/Naive_Bayes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
sklearn.__version__
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import numpy as np
import pandas as pd

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [16]:
url = "https://raw.githubusercontent.com/nhanphm/ML_Advance/master/letter_recognition.txt"
df1=pd.read_csv(url, sep=',',header=0)

df1.head()

  letter  x-box  y-box  width  high  ...  xy2br  x-ege  xegvy  y-ege  yegvx
0      T      2      8      3     5  ...      8      0      8      0      8
1      I      5     12      3     7  ...      9      2      8      4     10
2      D      4     11      6     8  ...      7      3      7      3      9
3      N      7     11      6     6  ...     10      6     10      2      8
4      G      2      1      3     1  ...      9      1      7      5     10

[5 rows x 17 columns]

In [17]:
X=df1.drop("letter",axis=1)
X.head()

Y = df1["letter"]
Y.head()

0    T
1    I
2    D
3    N
4    G
Name: letter, dtype: object

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(15000, 16)
(5000, 16)
(15000,)
(5000,)

In [0]:
logmodel = GaussianNB()
#logmodel.max_iter=2000
logmodel.fit(X_train,Y_train)
predictions = logmodel.predict(X_test)

In [20]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,predictions))

              precision    recall  f1-score   support

           A       0.86      0.91      0.88       191
           B       0.50      0.69      0.58       188
           C       0.72      0.73      0.73       165
           D       0.61      0.77      0.68       204
           E       0.61      0.36      0.45       195
           F       0.66      0.72      0.69       176
           G       0.55      0.56      0.56       195
           H       0.53      0.33      0.41       175
           I       0.53      0.74      0.62       187
           J       0.85      0.74      0.79       185
           K       0.44      0.45      0.44       165
           L       0.97      0.77      0.86       191
           M       0.70      0.90      0.78       209
           N       0.88      0.66      0.75       191
           O       0.51      0.73      0.60       176
           P       0.89      0.73      0.80       210
           Q       0.63      0.53      0.58       208
           R       0.55      0.68      0.61       196
           S       0.37      0.36      0.36       207
           T       0.65      0.68      0.67       201
           U       0.87      0.70      0.78       223
           V       0.67      0.82      0.73       191
           W       0.67      0.80      0.73       184
           X       0.49      0.56      0.52       203
           Y       0.65      0.31      0.42       211
           Z       0.76      0.56      0.64       173

    accuracy                           0.65      5000
   macro avg       0.66      0.65      0.64      5000
weighted avg       0.66      0.65      0.64      5000